<div class="container flex flex-col p-4 h-full gap-6">
  <div class="flex flex-row gap-4 items-center">
    <div class="grow">
      <mat-form-field class="w-full mb-[-1.25em]" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input [disabled]="isLoading" (input)="filterCall($event)" type="tel" matInput placeholder="Search by email or uid">
        <button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="grow-0">
      <button [disabled]="isLoading" mat-flat-button (click)="nextPage()" color="primary" class="h-[52px]">
         Next Page
      </button>
    </div>
  </div>
  <div *ngIf="isLoading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
  
  <div class="mat-elevation-z8 grow mat overflow-auto">

    <table mat-table [dataSource]="users" class="w-full !overscroll-auto" style="height: 300ox;">

      <ng-container matColumnDef="verified" class="!text-center">
        <th mat-header-cell *matHeaderCellDef> Verified </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.emailVerified" class="!text-green-500">verified_user</mat-icon>
          <mat-icon *ngIf="!element.emailVerified" class="!text-red-500">gpp_bad</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef class="!text-center"> Uid </th>
        <td mat-cell *matCellDef="let element" class="whitespace-nowrap !pl-4 !pr-4">
          <span appCopyMessage matTooltip="Copy" [cdkCopyToClipboard]="element.uid"
            [ngClass]="element.disable ? 'text-neutral-400' : ''" class="cursor-pointer">
            {{element.uid}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="!text-center"> Email </th>
        <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
          <span appCopyMessage matTooltip="Copy" [cdkCopyToClipboard]="element.email" class="cursor-pointer">
            {{element.email}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="!text-center"> Actions </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button mat-icon-button (click)="openEditCustomClaimsDialog(element.uid)" type="button"
            class="!text-pink-500">
            <mat-icon>person</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *matNoDataRow>
        <tr class="mat-row">
          <td colspan="4" class="mat-cell text-center">
            <button mat-icon-button (click)="refreshTable()" type="button">
              <mat-icon>refresh</mat-icon>
            </button> No data
          </td>
        </tr>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>